[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Code snippets from the sessions: IPython, NumPy, SciPy, MPL Introduction by Jarrod Millman & Prof. Prabhu Ramachandran Symbolic computation with Python, SymPy
[access "refs/*"]
	owner = group user/Aashika Shetty (aashika)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Aashika Shetty (aashika)
	label-Verified = -1..+1 group user/Aashika Shetty (aashika)
	push = group user/Aashika Shetty (aashika)
	read = group user/Aashika Shetty (aashika)
	rebase = group user/Aashika Shetty (aashika)
	removeReviewer = group user/Aashika Shetty (aashika)
	submit = group user/Aashika Shetty (aashika)
[access "refs/heads/*"]
	create = group user/Aashika Shetty (aashika)
	push = +force group user/Aashika Shetty (aashika)
	pushMerge = group user/Aashika Shetty (aashika)
	read = group user/Aashika Shetty (aashika)
[access "refs/tags/*"]
	push = group user/Aashika Shetty (aashika)
	push = +force group user/Aashika Shetty (aashika)
